@import "./global.css";

.search-form{
    margin: 15px;
}
.search-bar{
    background-color: var(--darkpurple);
    border-radius: 15px;
    width: 100%;
    height: 2rem;
    margin-top: 30px;
    color: white;
    padding: 10px;
    position: relative;
}
.search-bar:focus{   /*콜론 꼭 붙여쓰기*/
    background-color: #594374;
    transition: background-color 0.3s ease-in-out;
}
.search-form span{
    position: absolute;
    margin-top: 30px;
    right: 25px;
}

.best-img{
    width: 429px;
    height: 302px;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.text{
    padding-left: 40px;
}
.subtext{
    color: rgb(209, 200, 200);
}
.victory{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--purple)
}
.best-container span{
    position: absolute; /*html에서 best-container에 relative 해둠*/
    border-radius: 50%;
    display: flex;
    font-size: 5rem;
    background-color: var(--purple);
    left: calc(50% + 8rem); /*아이콘이 화면의 왼쪽으로부터 50% + 8rem만큼*/
                              /*clac() 함수: 화면 크기가 바뀔 때 일정한 위치 유지*/
    bottom: 0.9rem
}
.best-form{
    right: 10em
}

.recommend-title{
    font-size: 1rem;
    padding-left: 10px;
}

.recommend{
   margin: 30px 0;
   padding: 30px;
}

.recommend-img{
    display: flex;
    list-style: none;
    overflow-x: auto;
    margin-top: 30px;
}

.recommend-img li{
    padding-right: 15px;
}

.recommend-img img{
    width: 330px;
    height: 470px;
    border-radius: 30px;
}

.nav-bar{
    background-color: rgba(73, 73, 73, 0.5);
    width: 8rem;
    height: 3rem;
    border-radius: 0% 20% 0% 00%;
    display: flex;
    align-items: center; /*교차축 중앙에 배치*/
    justify-content: space-around; /* 컨테이너 내 균등하게 분포 */
    bottom: 0; /*화면 맨 아래, 아래로부터 0만큼 떨어짐*/
    position: fixed;
}
.nav-bar span{
    color: white;
    font-size: 1.7rem;
    bottom: 2rem;
}